/* Width & height of scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray */
  border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #3498db; /* Blue */
  border-radius: 10px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0010a3; /* Darker blue */
}
